@media screen and (min-width: 350px) {
    body {
        background-color: antiquewhite;
        color: black;
        font-style: italic;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: lightgreen;
        color: darkgreen;
        font-weight: bold;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-color: lightblue;
        color: darkblue;
        font-variant-caps: small-caps;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-color: lightcoral;
        color: black;
    }
}